.panel{
    background-color: #ffffff;
    width: 20%;
    min-width: 240px;
    height: 100vh;
 
}
.panel-title{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
   
}
img{
    width: 80px;
    padding-right: 6px;
}

.panel-btn{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.dashboard-container {
    display: flex; 
}
  
.card-create{
    width: 30%;
    height: 125px;


    align-content: center;
    -webkit-box-shadow: 0px 4px 1px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 4px 1px 0 rgba(0,0,0,0.35);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.35);
}