.containerPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.cardPassword {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.titlePassword {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.errorPassword {
  color: red;
  margin-top: 10px;
}

.successPassword {
  color: green;
  font-size: 18px;
  margin-bottom: 20px;
}
